name: ruff

on:
  push:
    branches:
      - '!master'
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: chartboost/ruff-action@v1
      with:
        version: 0.2.2
        src: "./earthdaily"
        args: --ignore F401,E722
    - uses: chartboost/ruff-action@v1
      with:
        version: 0.2.2
        src: "./earthdaily"
        args: format
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: 'style(ruff) : automatic lint/format'