name: Secret Scanning

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  security-secrets:
    permissions:
      contents: read
    name: TruffleHog Secret Scan
    runs-on: ${{ github.repository_visibility == 'private' && 'ed-runner-set' || 'ubuntu-latest' }}
    container:
      image: alpine:latest
    steps:
      - name: Install Git and dependencies
        run: |
          apk add --no-cache git curl jq

      - name: Clone the repository manually
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git clone https://x-access-token:${GH_TOKEN}@github.com/${GITHUB_REPOSITORY}.git repo
          cd repo

          # install TruffleHog
          curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh -s -- -b /usr/local/bin

          # run TruffleHog scan
          trufflehog filesystem "." --results=verified,unknown --fail --json | jq