name: Tests, Lint, Format, and Type Check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    permissions:
      contents: read
    name: Python ${{ matrix.python-version }} (lint, format, mypy, tests, coverage)
    runs-on: ${{ github.repository_visibility == 'private' && 'ed-runner-set' || 'ubuntu-latest' }}
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - python-version: "3.10"
            tox_env: py310
          - python-version: "3.11"
            tox_env: py311
          - python-version: "3.12"
            tox_env: py312
          - python-version: "3.13"
            tox_env: py313
          - python-version: "3.14"
            tox_env: py314
    container:
      image: ghcr.io/astral-sh/uv:python${{ matrix.python-version }}-trixie-slim
    
    steps:
      - uses: actions/checkout@v4

      - name: Install GDAL and dependencies
        run: |
          apt-get update
          apt-get install -y build-essential gdal-bin libgdal-dev

      - name: Run all checks with tox
        run: uv run --with tox-uv tox -e ${{ matrix.tox_env }},lint,format,mypy -v